<!--
// -----------------------------------------------------------
// src/views/login.handlebars
// Login, identificación de un usuario 
// -----------------------------------------------------------
-->
<!-- Linea del título -->
<div class="tit-simple">
    <h1>Coder Shop - Login / Identificación</h1>
</div>
<hr  class="lineaSupTit" >
<!--  ----------------------------------------------------------- --> 

<h4 class="muted-blue">Identificación de usuario</h4>
<h5 class="muted-red">Luego de identificarse podrá ingresar al "Home" </h5>
<hr  class="lineaSupTit" >

<form id="createForm"  action="/api/sessions/login" method="post">
 <fieldset> 
    <legend>Su identificación</legend>

    <label for="email">Email:</label>      <br />
    <!-- res.locals.user -->
    <input type="email" id="email" name="email" 
     
              {{!-- Mostrar nombre del usuario autenticado --}}
              {{#if user}}
                  value='{{user.email}}'
              {{/if}}

              placeholder="Ingrese su e-mail" required />
      <br />

    <label for="password">Password:</label> <br />
    <input type="password" id="password" name="password" 
             placeholder="******"  required />
    <br />
  <button type="submit">Ingresar</button>

  </fieldset>
</form>

<hr  class="lineaSupTit" >

¿No tienes cuenta? <a href="/register">Registrar</a> </br>

¿Olvidaste tu contraseña?<a href="/recupero">Recuperar</a>